<div class="container">
  <div class="card mt-3">
    <div class="card-header">
      <h1 class="text-center mt-3">Simulator Checklists</h1>
    </div>
    <div class="card-body">
      Checklists for [potentially] various aircraft in various simulators. If
      you've filed a SimBrief flight plan then those can get imported. Currently
      there's just the one checklist defined. Feel free to fork and add more.

      <div class="row">
        <div class="col-6">

          {% for simulators in site.data %}
            {% for simulator in simulators %}
              {% if simulator.meta.name %}
                <div class="card mt-3">
                  <div class="card-header">
                    <h5 class="card-title">{{ simulator.meta.name }}</h5>
                  </div>
                  <div class="card-body">
                    <ul class="list-group">
                      {% for entry in simulator %}
                          {% if entry[1].sections %}
                            <li class="list-group-item">
                              <a href="{{ simulators[0] }}/{{ entry[0] }}/">{{ entry[1].name }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      {% include fragments/disclaimer.liquid %}
    </div>
  </div>
</div>
