{%  comment %}
Requires id, optional name
{% endcomment %}
<div class="row p-0 m-0 align-items-center">
  <div class="col-6 pt-1">
    &nbsp;<button type="button" id="{{ include.id }}"
                  class="btn btn-primary btn-sm float-right">
      {{ include.name | default: "Next" }}
      <i class="fas fa-caret-right pl-1"></i>
    </button>
  </div>
  {% include fragments/comments.liquid id=include.id %}
</div>
