{% if aircraft.integrations.fsuipc %}
  <div class="row p-0 m-0">
    <div class="col-3">
      FSUIPC
    </div>
    <div class="col-2 text-center">
      <label>
        <input type="checkbox" data-toggle="toggle"
               data-size="xs" data-width="110" data-onstyle="success"
               data-on="AS REQ" data-off="AS REQ" data-offstyle="secondary">
      </label>
    </div>
    <div class="col pt-1 border-left border-secondary">
    </div>
  </div>
{% endif %}
{% if aircraft.integrations.xpuipc %}
  <div class="row p-0 m-0">
    <div class="col-3">
      XPUIPC
    </div>
    <div class="col-2 text-center">
      <label>
        <input type="checkbox" data-toggle="toggle"
               data-size="xs" data-width="110" data-onstyle="success"
               data-on="AS REQ" data-off="AS REQ" data-offstyle="secondary">
      </label>
    </div>
    <div class="col pt-1 border-left border-secondary">
    </div>
  </div>
{% endif %}
{% if aircraft.integrations.slc %}
  <div class="row p-0 m-0">
    <div class="col-3">
      Self Loading Cargo
    </div>
    <div class="col-2 text-center">
      <label>
        <input type="checkbox" data-toggle="toggle"
               data-size="xs" data-width="110" data-onstyle="success"
               data-on="AS REQ" data-off="AS REQ" data-offstyle="secondary">
      </label>
    </div>
    <div class="col pt-1 border-left border-secondary">
      <small>If SLC isn't being used checks involving it can be ignored</small>
    </div>
  </div>
{% endif %}
{% if aircraft.integrations.simbrief %}
  <script src="/js/simbrief.js"></script>

  <div class="ml-3 mr-3 p-3 border-left border-success bg-light">
    You can optionally enter your SimBrief username here and click Fetch to
    populate the checklist with values from your latest flight plan.
  </div>
  <div class="row">
    <div class="col-5">
      <div class="input-group input-group-sm mb-3 mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="userid-label">SimBrief</span>
        </div>
        <input type="text" class="form-control"
               placeholder="Username"
               aria-label="Username"
               aria-describedby="userid-label" id="userid">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="fetch">Fetch
          </button>
        </div>
      </div>
    </div>
    <div class="col pt-3 border-left border-secondary" id="fetch-notes"></div>
  </div>
{% endif %}
